@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/*.root {*/
/*    -fx-background-image: url("../designs/BG2.png");*/
/*}*/

Label, Text, TextArea, ListView, TreeView, Button {
    -fx-font-family: "Jersey 15", sans-serif;
}

ListView, TreeView {
    -fx-font-size: 22px;
}

#startLabel, #beginGameLabel, #button {
    -fx-font-size: 56px;
}

#beginRaceLabel {
    -fx-font-size: 40px;
}



#switchUpgradesLabel {
    -fx-background-color: #ababab;
    /*-fx-border-radius: 3px;*/
    -fx-label-padding: 5px;
}

#buyItem, #sellItem, #viewCarsLabel, #viewUpgradesLabel, #equipUpgrade, #unequipOrEquipUpgradeLabel, #selectCarLabel, #fillTankLabel, #button  {
    -fx-background-color: #ababab;
    /*-fx-border-radius: 3px;*/
    -fx-label-padding: 5px;

}



/*#buyItem:pressed, #sellItem:pressed, #viewUpgradesLabel:pressed, #viewCarsLabel:pressed, #fillTankLabel:pressed, #button:pressed, #switchUpgradesLabel:pressed {*/
/*    -fx-background-color: #969696*/
/*}*/

#gasStopLines {
    -fx-background-color: white;
}

#finishLinePane {
    -fx-background-image: url("/designs/finishLineTile.png");
    -fx-background-repeat: repeat;
}

#playerNameLabel {
    -fx-text-fill: #A0A0A0; -fx-font-size: 45
}

#opponentNameLabel {
    -fx-text-fill: #E3E3E3; -fx-font-size: 45
}

#car {
    -fx-cursor: hand;
}

#commentaryVBox {
    -fx-font-size: 20;
}

.promptPane {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.promptPane VBox {
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 400;
    -fx-max-height: 400;
    -fx-alignment: center;
    -fx-spacing: 0;
    -fx-padding: 0 50 0 50;
    -fx-background-color: white;
    -fx-border-color: darkgray;
    -fx-border-width: 4;
}

.promptPane VBox Label#titleLabel {
    -fx-font-size: 30;
    -fx-alignment: center;
    -fx-padding: 0 0 20 0;
}

.promptPane VBox Label#questionLabel {
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-font-size: 22;
    -fx-text-alignment: center;
}

.promptPane VBox HBox {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 30 0 15 0;
}

.promptPane VBox HBox Button {
    -fx-font-size: 20;
    -fx-min-width: 180;
    -fx-max-width: 180;
    -fx-min-height: 50;
    -fx-max-height: 50;
}

#leaderboardPane {
    -fx-background-image: url("/designs/leaderboardBackground.jpg");
    -fx-background-size: cover;
    -fx-text-fill: white;
}

#leaderboardContentPane, #leaderBoardContinueButton {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

#leaderboardVBox {
    -fx-font-size: 22;
}

#leaderboardVBox #prizeWinners {
    -fx-font-size: 32;
}

#endScreenPane {
    -fx-background-image: url("/designs/endScreenBackground.jpg");
    -fx-background-size: cover;
    -fx-text-fill: white;
}

#endScreenContentVBox {
    -fx-font-size: 35;
}

#seasonLabel {
    -fx-font-size: 45;
}

#endScreenContentVBox, #playAgainButton {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}
